<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Pagamento</title>
</head>
<body>
    <h1>Confirmar Pagamento</h1>
    
    <h2>Jazigo Selecionado:</h2>
    <p>Endereço: <span th:text="${jazigo.endereco}"></span></p>
    
    <h2>Plano Selecionado:</h2>
    <form th:action="@{/comprar/{id}/plano/planof(id=${jazigo.idJazigo})}" method="post">
        <select name="planoSelecionado">
            <option th:each="plano : ${planos}" th:value="${plano}" th:text="${plano}"></option>
        </select>
        
        <button type="submit">Realizar Pagamento</button>
    </form>
</body>
</html>
