<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Finalizar Pagamento</title>
</head>
<body>
    <h1>Finalizar Pagamento</h1>
    
    <h2>Jazigo Selecionado:</h2>
    <p>Endereço: <span th:text="${jazigo.endereco}"></span></p>
    
    
    <h2>Plano Selecionado:</h2>
    <p>Tipo do Plano: <span th:text="${jazigo.plano}"></span></p>
    <p>Valor do Plano: <span th:text="${jazigo.plano.getPreco()}"></span></p>
    
    <h2>Total do Carrinho:</h2>
    <p>Valor Total: <span th:text="${carrinho.totalCarrinho}"></span></p>
    
    <form th:action="@{/comprar/{id}/plano/finalizar/limpar(id=${jazigo.idJazigo})}" method="post">
        <!-- Adicione aqui os campos do formulário de pagamento -->
        <button type="submit">Realizar Pagamento</button>
    </form>
</body>
</html>
