<!-- jazigo.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jazigo</title>
</head>
<body>
<h1>Informações do Jazigo</h1>
<p>Endereço: ${jazigo.endereco}</p>
<p>CPF Proprietário: ${jazigo.cpfProprietario}</p>
<p>ID Jazigo: ${jazigo.id}></p>
<p>Status: ${jazigo.status}>/p>
<p>Data Última Visita: ${jazigo.dataUltimaVisita}</p>
<p>Disponível: ${jazigo.disponivel}</p>
<p>Mensagem: ${jazigo.mensagem}</p>
<p>Foto: ${jazigo.foto}</p>
<p>Notas: ${jazigo.notas}</p>
<p>Plano: ${jazigo.plano}</p>
<p>Pet Enterrado ID: ${jazigo.petEnterradoId}"</p>
</body>
</html>